@tailwind base;
@tailwind utilities;
@tailwind components;

html, body, #root{
    width: 100%;
    heigth: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.title-page{
@apply uppercase  text-gray-400 tracking-[4.75px];
}